#body {
text-align: center;
}

#titulo {
    font-weight: bolder;
    font-size: 200%;
    font-style: inherit;
    padding: 10px;
}

#tablero {
    padding: 10px;
}

.input {
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    border: 2px solid #dee1e9;
    font-size: 28px;
    font-weight: 700;
    margin: 3px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #393e4c;
    background: #fbfcff;
    margin-right: 1px;
}

#teclado {
    padding: 10px;
}

.boton {
    align-items: center;
    background-color: #dce1ed;
    color: #414a5e !important;
    border: 2px solid transparent;
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
    user-select: none;
    font-size: 17px;
    font-weight: 700;
    margin: 3px;
    height: 50px;
    width: 50px;
    text-decoration: inherit;
    text-transform: capitalize;
    transition: .2s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
    -webkit-touch-callout: none;
}

#enter {
    width: 80px;
}

#delete {
    width: 80px;
}