<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Wordle</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
        <div id="body">
            <div id="titulo">
                <label>Wordle</label>
            </div>
            <div id="tablero">
                <div id="primer-intento">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                </div>
                <div id="segundo-intento">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                </div>
                <div id="tercer-intento">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                </div>
                <div id="cuarto-intento">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                </div>
                <div id="quinto-intento">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                </div>
                <div id="sexto-intento">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                    <input type="text" class="input">
                </div>
            </div>
            <div id="teclado">
                <div id="primera-linea">
                    <input type="button" value="Q" class="boton">
                    <input type="button" value="W" class="boton">
                    <input type="button" value="E" class="boton">
                    <input type="button" value="R" class="boton">
                    <input type="button" value="T" class="boton">
                    <input type="button" value="Y" class="boton">
                    <input type="button" value="U" class="boton">
                    <input type="button" value="I" class="boton">
                    <input type="button" value="O" class="boton">
                    <input type="button" value="P" class="boton">
                </div>
                <div id="segundo-linea">
                    <input type="button" value="A" class="boton">
                    <input type="button" value="S" class="boton">
                    <input type="button" value="D" class="boton">
                    <input type="button" value="F" class="boton">
                    <input type="button" value="G" class="boton">
                    <input type="button" value="H" class="boton">
                    <input type="button" value="J" class="boton">
                    <input type="button" value="K" class="boton">
                    <input type="button" value="L" class="boton">
                    <input type="button" value="Ñ" class="boton">
                </div>
                <div id="tercera-linea">
                    <input type="button" value="&#8592" class="boton" id="delete">
                    <input type="button" value="Z" class="boton">
                    <input type="button" value="X" class="boton">
                    <input type="button" value="C" class="boton">
                    <input type="button" value="V" class="boton">
                    <input type="button" value="B" class="boton">
                    <input type="button" value="N" class="boton">
                    <input type="button" value="M" class="boton">
                    <input type="button" value="Enter" class="boton" id="enter">
                </div>
            </div>
        </div>
    </body>
</html>